* {
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto';
}

a {
	transition: all 0.3s ease-in-out;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	transition: all .3s ease-in-out;
}

h1, h2, h3, h4, p {
	margin: 0;
}

ul {
	padding: 0;
	margin: 0;
}

input {
	border: none;
	background-color: transparent;
	outline: none;
	-webkit-appearance: none;
	&::placeholder {

	}
}

textarea {
	resize: none;
	border: none;
	background-color: transparent;
	outline: none;
	-webkit-appearance: none;
	&::placeholder {

	}
}

button {
	border: none;
	background-color: transparent;
	transition: all 0.3s ease-in-out;
	outline: none;
	-webkit-appearance: none;
}

.wrapper {
	width: 100%;
	position: relative;
	overflow: hidden;
}

.container {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	padding: 0 45px;
	@media screen and (max-width: 1024px) {
		padding: 0 30px;
	}
	@media screen and (max-width: 768px) {
		padding: 0 15px;
	}
}

section {
	padding: 80px 0;
	@media screen and (max-width: 1200px) {
		padding: 50px 0;
	}
	@media screen and (max-width: 1024px) {
		padding: 40px 0;
	}
	@media screen and (max-width: 768px) {
		padding: 20px 0;
	}
}

.section-title {
	font-family: 'Lucida Grande';
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
	color: #ffa959;
	margin-bottom: 45px;
	@media screen and (max-width: 1024px) {
		font-size: 25px;
		margin-bottom: 35px;
	}
	@media screen and (max-width: 768px) {
		font-size: 20px;
		margin-bottom: 20px;
	}
}

.second-title {
	color: #3f4048;
	text-align: center;
	margin-bottom: 30px;
	font-size: 30px;
	@media screen and (max-width: 768px) {
		font-size: 20px;
		margin-bottom: 20px;
	}
}


// Burger
.ham {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	transition: transform 600ms;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.hamRotate.active {
	transform: rotate(45deg);
}
.hamRotate180.active {
	transform: rotate(180deg);
}
.line {
	fill: none;
	transition: stroke-dasharray 600ms, stroke-dashoffset 600ms;
	stroke: #3f4048;
	stroke-width: 5.5;
	stroke-linecap: round;
}
.ham4 .top {
	stroke-dasharray: 40 121;
}
.ham4 .bottom {
	stroke-dasharray: 40 121;
}
.ham4.active .top {
	stroke-dashoffset: -68px;
}
.ham4.active .bottom {
	stroke-dashoffset: -68px;
}
// Burger End

.link-active {
	color: #ffa959;
}

.main-menu__link.active {
	position: relative;
	&:before {
		position: absolute;
		content: '';
		width: 100%;
		height: 10px;
		top: 0;
		left: 0;
		background-color: #ffa959;
		transition: all .5s ease-in-out;
	}
}